// ==========================================================================
// Mixins
// ==========================================================================

// BEM Selectors

@mixin e($element) {
  &__#{$element} {
    @content;
  }
}
@mixin m($modifier) {
  &--#{$modifier} {
    @content;
  }
}

// Media Queries

@mixin mediaq($break) {
  @if $break == "medium" {
    @media (min-width: $breakpoint-medium) {
      @content;
    }
  }
  @else {
    @error "No value could be retrieved for `#{$break}`.";
  }
}

// Adjacent sibling margins
@mixin doubly($margin: 1em) {
  & + & {
   margin-left: $margin;
   @content;
  }
}

// Flexbox settings

@mixin flexbox($direction: row) {
  display: flex;
  flex-direction: $direction;
}

// Generate modifier color classes

@mixin bg-colors($map) {
  @each $theme, $color in $map {
    &--#{$theme} {
      background-color: $color;
    }
  }
}

// Grid Columns

@mixin grid {
  @for $i from 1 through $g-col-count {
    &--#{$i} {
      flex-basis: percentage($i / $g-col-count);
      @content;
      &.theme__colors {
        background-color: palette(grid-colors, $i);
        border-radius: $br--default;
        font-weight: $font-weight--regular;
        text-align: center;
      }
    }
  }
}
