// ==========================================================================
// Placeholders
// ==========================================================================

// links
// images
// Headlines

%headline-primary {
  color: $color-primary;
  font-size: em(32px);
  font-weight: $font-weight--bold;
}

// Nav items
