// ==========================================================================
// Grid
// ==========================================================================

.container {
  @extend %centered;
  width: 90%;

  // Set a max-width for grid container
  @include mediaq(medium) {
    max-width: $g-cont-max-w;
  }
}

.grid {
  @include e(row) {
    margin-bottom: $gutter--default;
    @include flexbox(column);

    @include mediaq(medium) {
      @include flexbox(row, space-between);
    }
  }

  @include e(col) {
    @include g-colors;
    
    @include mediaq(medium) {
      @include g-columns;
    }
  }
}

[class^="grid__col"] {
  padding: em(12px);
  margin-bottom: em(6px);

  @include mediaq(medium) {
    &.centered {
      margin-right: auto;
      margin-left: auto;
    }
  }

  &.theme__colors {
    border-radius: $br--default;
    font-weight: $font-weight--bold;
    font-size: em(16px);
    @include mediaq(medium) {
      text-align: center;
    }
  }
}