// ==========================================================================
// Grid
// ==========================================================================

.container {
  padding-right: em(18px);
  padding-left: em(18px);
  @include mediaq(medium) {
    width: 90%;
    margin: 0 auto;
  }
}

.grid {
  @include e(row) {
    @include flexbox(column);
    margin-bottom: em(48px);

    @include mediaq(medium) {
      @include flexbox(row);
      // Met (doubly) + alle columns targetten behalve de eerste
    }
  }

  .centered {
    align-self: center;
  }

  // @include e(col) {
  //   @for $i from 1 through $grid-columns {
  //     @include m($i) {
  //       flex-basis: (100 / ($grid-columns / $i )) * 1%;
  //       &.theme__colors {
  //         background-color: palette(grid, $i);
  //       }
  //     }
  //   }
  // }

  @include e(col) {
    @include grid;
  }
}

[class^="grid__col"] {
  padding: em(10px) em(48px);
}

.centered {
  align-self: center;
}
