// ==========================================================================
// Grid
// ==========================================================================

.container {
  @extend .centered;
  width: 90%;

  // Set a max-width for grid container
  @include mediaq(medium) {
    max-width: $g-cont-max-w;
  }
}

.grid {
  @include e(row) {
    margin-bottom: $gutter--default;
    @include flexbox(column);
    @include mediaq(medium) {
      @include flexbox(row, space-between);
    }
  }

  @include e(col) {
    @include g-colors;
    @include mediaq(medium) {
      @include g-columns;
    }
  }
}

[class^="grid__col"] {
  padding: em($gutter--default / 2);
  &.theme__colors {
    text-align: center;
    border-radius: $br--default;
  }
}