// ==========================================================================
// Nav
// ==========================================================================

.nav {
  a {
    display: block;
    text-align: center;
    padding: em(16px);
    border-radius: $br--default;
    color: palette(grey, dark);
    transition: background-color $transition-duration;
    font-weight: $font-weight--light;
    &:hover {
      background-color: $color-primary;
      color: $white;
    }
  }
  @include mediaq(medium) {
    @include flexbox;
  }
}
